html {
  scroll-behavior: smooth;
  font-size: 16px
}
* {
	box-sizing: border-box;
	margin: 0;
}

.main-link {
  @apply bg-purple-600 text-white px-4 py-2 rounded-lg font-semibold shadow-xl text-center;
}

.hero-grid {
  background-image: url(/assets/bild.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
  mask-image: radial-gradient(circle, #333, #333 50%, rgba(0, 0, 0, .1) 80%, transparent 85%);
}

.map-grid {
  background-image: url(/assets/karta.webp);
  background-position-x: 55%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  //background-size: cover;
  mask-image: radial-gradient(circle, #333, #333 50%, rgba(0, 0, 0, .1) 80%, transparent 85%);
}

.map-pin .inner-pin {
  @apply absolute font-sans px-4 text-xl font-semibold;
  text-shadow: rgba(255,68,0,0.9) 0px 0px 13px, rgba(255,68,0,0.9) 0px 0px 13px;
}