html {
  scroll-behavior: smooth;
  font-size: 16px;
  --burger-color: black;
}
* {
  box-sizing: border-box;
  margin: 0;
}

.main-link {
  @apply text-slate-700 px-4 py-2 rounded-lg font-semibold hover:text-purple-600 text-center;
}

.hero-grid {
  background-image: url(/assets/bild.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
  mask-image: radial-gradient(
    circle,
    #333,
    #333 50%,
    rgba(0, 0, 0, 0.1) 80%,
    transparent 85%
  );
}

.text-outline {
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.map-grid {
  background-image: url(/assets/karta.webp);
  background-position-x: 55%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  //background-size: cover;
  mask-image: radial-gradient(
    circle,
    #333,
    #333 50%,
    rgba(0, 0, 0, 0.1) 80%,
    transparent 85%
  );
}

.map-pin .inner-pin {
  @apply absolute font-sans px-4 text-xl font-semibold;
  text-shadow: rgba(255, 68, 0, 0.9) 0px 0px 13px,
    rgba(255, 68, 0, 0.9) 0px 0px 13px;
}

.hover-jig {
  --c: #1095c1; /* the color */
  --s: 0.25em;

  line-height: 1.1em;
  padding-bottom: calc(2.1 * var(--s));
  background: conic-gradient(from 135deg at top, var(--c) 90deg, #0000 0) left 0
      bottom var(--s) / calc(2 * var(--s)) var(--s) repeat-x,
    conic-gradient(from -45deg at bottom, var(--c) 90deg, #0000 0) left var(--s)
      bottom 0 / calc(2 * var(--s)) var(--s) repeat-x;
  -webkit-mask: linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0) 0 / var(--_p, 0%) padding-box no-repeat;
  transition: 0.5s;
}
.hover-jig:hover {
  --_p: 100%;
  color: var(--c);
}

.nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.menu-list {
  margin-left: auto;
  padding: 0;
  display: flex;
  list-style: none;
}
.menu-list li a {
  text-decoration: none;
  transition: all 0.4s;
}
.menu-list li a:hover {
  text-decoration: underline;
}
.nav input {
  width: 20px;
  aspect-ratio: 1;
  display: none;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
}
.nav input:before,
.nav input:after {
  content: "";
  grid-area: 1/1;
  transition: 0.3s;
}
.nav input:before {
  background: radial-gradient(
        closest-side at 12.5% 25%,
        var(--burger-color) 96%,
        #0000
      )
      0 0/80% 40%,
    linear-gradient(var(--burger-color) 50%, #0000 0) top/80% 40% repeat-y;
}
.nav input:after {
  padding: 10%;
  background: radial-gradient(
        closest-side at 50% 12.5%,
        var(--burger-color) 96%,
        #0000
      )
      top / 20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, var(--burger-color) 96%, #0000)
      left/80% 20% repeat-x,
    conic-gradient(from 90deg at 33% 33%, #0000 90deg, var(--burger-color) 0)
      100% 100%/60% 60% padding-box content-box;
  transform: translate(-100%) translateZ(0) rotate(45deg);
  opacity: 0;
}
.nav input:checked:before {
  transform: translate(100%);
  opacity: 0;
}
.nav input:checked:after {
  transform: translate(0) translateZ(0) rotate(45deg);
  opacity: 1;
}

@media (max-width: 600px) {
  .menu-list {
    position: fixed;
    background: inherit;
    flex-direction: column;
    inset: 0 0 0;
    padding: 40px;
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transform: translate(-100%);
    opacity: 0;
    transition: 0.25s;
  }
  .nav input[type="checkbox"] {
    display: grid;
    z-index: 3;
    background-image: none;
    box-shadow: none;
    outline-offset: 0;
    background-color: inherit;
    border-width: 0;
  }
  .nav input[type="checkbox"]:checked {
    background-image: none;
    box-shadow: none;
    outline-offset: 0;
  }
  .nav input[type="checkbox"]:checked:focus {
    outline: none;
    box-shadow: none;
    outline-offset: 0;
    background-color: inherit;
  }
  .nav input[type="checkbox"]:checked + .menu-list {
    transform: translate(0);
    opacity: 1;
  }
}
