---

import LoppetLayout from '../layouts/LoppetLayout.astro';
import Anmalan from '../components/Anmalan.vue';
import TrackMap from '../components/TrackMap.vue';
import TopShape from '../components/TopShape.astro';
import BottomShape from '../components/BottomShape.astro';
// Component Imports
// You can import components from any supported Framework here!

// Remember: Astro component scripts log to the CLI
//console.log(JSON.stringify(stories));
---
<LoppetLayout footer="bg-white" title="Umeloppet" description="Umeloppet. Seedningsgrundande skidlopp i Umeå">
  <div class="relative">
    <section class="map-grid h-72 sm:h-[500px] max-w-5xl mx-auto px-6 flex flex-col justify-center items-center">
      <div class="bg-slate-200 h-40 w-40 sm:h-60 sm:w-60 rounded-full border-4 border-black">
        <img src="/assets/veteranerna-logga.svg" class="w-full h-full" alt="skidveteranernas logga">
      </div>
      <h1 class="font-bold absolute transform -translate-y-5 text-5xl text-purple-600 sm:text-8xl text-outline">UMELOPPET</h1>
      <div class="flex gap-2 sm:gap-4 sm:text-lg text-black font-bold pt-1 sm:pt-4">
        <a href="#information" class="transition-colors hover:text-purple-600 hover:bg-white bg-pink-400 px-3 py-1 rounded-full">Information</a>
        <a href="/files/Startlista_2023_01_05.pdf" target="_blank" class="transition-colors hover:text-purple-600 hover:bg-white bg-purple-400 px-3 py-1 rounded-full">Startlista</a>
        <a href="/files/pm-umeloppet-2023.pdf" target="_blank" class="transition-colors hover:text-purple-600 hover:bg-white bg-purple-400 px-3 py-1 rounded-full">PM</a>
        <a href="#sponsors" class="transition-colors hover:text-purple-600 hover:bg-white bg-pink-400 px-3 py-1 rounded-full">Sponsorer</a>
      </div>
      
    </section>
    <TopShape classes="absolute bottom-0 text-slate-100"></TopShape>
  </div>
  
  <div class="bg-slate-100">
    <article class="max-w-5xl mx-auto px-6 py-1">
    <h2 class="text-4xl font-bold sm:text-center uppercase my-6">Välkommen till vinterns stora upplevelse</h2>
    <p class="text-2xl font-bold sm:text-center my-6">
      Med anledning av det stora deltagarantalet önskar vi att de som har möjlighet hämtar ut sin nr lapp resp chip under lördagen.
      Det kan annars uppstå lång kö på söndagen.
      Välkommen mellan kl 13 – 15 på lördag.
    </p>
    
    <div class="max-w-3xl mx-auto">
    <p class="sm:text-center mb-7">
      <span class="font-bold">Söndag den 5:e Februari 2023.</span> På åkern i anslutning till Forslundagymnasiet, går starten för det 13:e Umeloppet. 
       40 km seedningsgrundande för Vasaloppet, 
      20 km seedningsgrundande för Tjejvasan och 5 km parasportklass (Tävlande skall ha ledsagare).
    </p>
    
    <div class="grid border-t border-slate-400 grid-cols-1 pt-8 gap-4">
      <div class="flex justify-between md:justify-center  gap-6">
        <p class="font-semibold md:hidden">När:</p><p class="md:text-xl">Söndag 5:e Februari 2023</p>
      </div>
      <div class="flex justify-between md:justify-center gap-6">
        <p class="font-semibold md:hidden">Var:</p><p class="md:text-lg">Forslundagymnasiet, Umeå</p>
      </div>
    </div>
    <div class="grid  pt-4 border-slate-400 grid-cols-1 md:grid-cols-3 gap-4 pb-8">
      <div class="flex justify-between md:justify-center gap-6">
        <p class="font-semibold">Pris 40km:</p><p>400:-</p>
      </div>
      <div class="flex justify-between md:justify-center gap-6">
        <p class="font-semibold">Pris 20km:</p><p>300:-</p>
      </div>
      <div class="flex justify-between md:justify-center gap-6">
        <p class="font-semibold">Pris 5km (Parasportklass):</p><p>100:-</p>
      </div>
    </div>
  </div>
  </article>
  </div>
  
  <article id="anmalan" class="bg-slate-200 relative">
    <Anmalan client:idle></Anmalan>
  </article>

  <article id="information" class="pt-10 relative">
    <BottomShape classes="absolute top-0 text-slate-200"></BottomShape>
    <div class="px-6">
    <h2 class="text-4xl font-bold sm:text-center uppercase my-6">Information om loppet</h2>
    <div class="max-w-3xl mx-auto space-y-4">
      <div class="p-4 bg-purple-200 rounded-lg">
        <h3 class="text-2xl font-semibold mb-3">Innan Loppet</h3>
        <p class="text-gray-800 text-lg mb-3">
          Dubbelkolla gärna att du är med på <a class="underline hover:font-semibold" href="/files/Startlista_2023_01_05.pdf" target="_blank">startlistan</a>.
        </p>
        <p class="text-gray-800 text-lg mb-3">
          Nummerlappar och chip delas ut vid tävlingsexpeditionen, Forslunda Gymnasiet. 
          På lördag kl 13:00 till 15:00 och på söndag 8:30 till 10:30.
        </p>
        <p class="text-gray-800 text-lg mb-3">
          Vid starten körs ett extra varv på startområdet innan ni beger er ut på banan.
          Vi ser gärna att ni ställer er i rätt startled då det kan bli trångt
        </p>
          <ul class="space-y-2 list-disc list-inside text-gray-800 text-lg mb-4">
            <li>Led 1 Elit Damer/herrar</li>
            <li>Led 2 Mindre snabba än elit</li>
            <li>Led 3 Ni som vill ta det lite lugnare</li>
          </ul>
        
        <img src="/assets/startomrode.svg" class="w-full h-full" alt="skiss av startområde">
      </div>
      <div class="p-4 bg-purple-200 rounded-lg">
        <h3 class="text-2xl font-semibold mb-2">Under Loppet</h3>
        <ul class="space-y-2 list-disc list-inside text-gray-800 text-lg">
          <li>Gemensam start alla klasser kl <strong class="font-bold">11:00</strong> på åkern nedanför Forslunda Gymnasiet</li>
          <li><strong class="underline font-bold">Klassisk teknik gäller</strong>, kontroll sker</li>
          <li>Varvlopp: 40 km åks 2 varv. 20 km 1 varv. 5 km: skyltat mot mål</li>
          <li>Spårsträckning enligt karta</li>
          <li>Vätska (Vitargo) per varv vid 7 km, 17 km och vid varvning</li>
          <li>Maxtid: Rep dras vid varvning kl 13.30 och efter 27 km kl 14.30</li>
        </ul>
      </div>
      <div class="p-4 bg-purple-200 rounded-lg">
        <h3 class="text-2xl font-semibold mb-2">Efter Loppet</h3>
        <p class="text-gray-800 text-lg">
          Priser till de 3 första damer/herrar i mål på 40 km, damsegrare 20 km, segrare 5 km.
          Prisutdelning sker löpande när prispallen är klar. Utlottningspriser bland genomförda 40/20/5 km lopp.
          Lista anslås vid entré och utanför fikarummet och pris lämnas mot uppvisande av nummerlapp.
        </p>
        <p class="text-gray-800 text-lg mt-2">
          Gratis fika för tävlande. Finns även fika för övriga till en liten kostnad.
        </p>
        <p class="text-gray-800 text-lg mt-2">
          <strong class="font-bold">Glöm inte att lämna tillbaka chipet efter målgång</strong>. Det kommer finnas personer som tar emot dem vid målet.
          Extra viktigt om ni tvingas bryta är att återlämna chipet till personerna vid målet.
          Inga chip får lämnas någon annanstans än vid målet och till personerna som tar emot dem där.
        </p>
      </div>
      
    </div>
  </div>
  </article>

  <article class="py-10 relative">
  <h2 class="text-4xl font-bold text-center uppercase my-6">Karta över spåret</h2>
    <div class="max-w-4xl mx-auto px-6 mb-8">      
      <TrackMap class="h-[80vh]" client:visible></TrackMap>
    </div>
  </article>

  <article id="sponsors" class="mb-10">
    <h2 class="text-4xl font-bold text-center uppercase my-6">Våra sponsorer</h2>
    <div class="max-w-5xl mx-auto mb-8 grid grid-cols-3 place-items-center">
      <img src="/assets/ica-nara.png" class="max-h-48 lg:max-h-72" alt="ICA Nära Hissjö handel">
      <img src="/assets/VL_Off_SL_2023_COMP.svg" class="max-h-48 lg:max-h-72" alt="Vasaloppet officiellt seedningslopp 2023">
      <img src="/assets/Forslunda-logga.png" class="max-h-48 lg:max-h-72" alt="">
    </div>
  </article>
</LoppetLayout>