---

import RaceLayout from '../layouts/RaceLayout.astro';
import Anmalan from '../components/Anmalan.vue';
import TrackMap from '../components/TrackMap.vue';
import TopShape from '../components/TopShape.astro';
import BottomShape from '../components/BottomShape.astro';
// Component Imports
// You can import components from any supported Framework here!

// Remember: Astro component scripts log to the CLI
//console.log(JSON.stringify(stories));
---
<RaceLayout footer="bg-white" title="Umeloppet">
  <div class="relative">
    <section class="map-grid h-72 sm:h-[500px] max-w-5xl mx-auto px-6 flex flex-col justify-center items-center">
      <div class="bg-slate-200 h-40 w-40 sm:h-60 sm:w-60 rounded-full border-4 border-black">
        <img src="/assets/veteranerna-logga.svg" class="w-full h-full" alt="ICA Nära Hissjö handel">
      </div>
      <p class="font-bold absolute text-5xl text-purple-600 sm:text-8xl text-outline">UMELOPPET</p>
    </section>
    <TopShape classes="absolute bottom-0 text-slate-100"></TopShape>
  </div>
  
  <div class="bg-slate-100">
    <article class="max-w-5xl mx-auto px-6 py-1">
    <h2 class="text-4xl font-bold text-center uppercase my-6">Välkommen till vinterns stora upplevelse</h2>
    <div class="max-w-3xl mx-auto">
    <p class="text-center mb-7">
      <span class="font-bold">Söndag den 5:e Februari 2023.</span> På åkern i anslutning till Forslundagymnasiet, går starten för det 13:e Umeloppet. 
       40 km seedningsgrundande för Vasaloppet, 
      20 km seedningsgrundande för Tjejvasan och 5 km parasportklass (Tävlande skall ha ledsagare).
    </p>
    
    <div class="grid border-t border-slate-400 grid-cols-1 pt-8 gap-4">
      <div class="flex justify-between md:justify-center  gap-6">
        <p class="font-semibold md:hidden">När:</p><p class="md:text-xl">Söndag 5:e Februari 2023</p>
      </div>
      <div class="flex justify-between md:justify-center gap-6">
        <p class="font-semibold md:hidden">Var:</p><p class="md:text-lg">Forslundagymnasiet, Umeå</p>
      </div>
    </div>
    <div class="grid  pt-4 border-slate-400 grid-cols-1 md:grid-cols-3 gap-4 pb-8">
      <div class="flex justify-between md:justify-center gap-6">
        <p class="font-semibold">Pris 40km:</p><p>400:-</p>
      </div>
      <div class="flex justify-between md:justify-center gap-6">
        <p class="font-semibold">Pris 20km:</p><p>300:-</p>
      </div>
      <div class="flex justify-between md:justify-center gap-6">
        <p class="font-semibold">Pris 5km (Parasportklass):</p><p>100:-</p>
      </div>
    </div>
  </div>
  </article>
  </div>
  
  <article class="bg-slate-200 relative">
    <Anmalan client:idle></Anmalan>
  </article>

  <article class="py-10 relative">
    <BottomShape classes="absolute top-0 text-slate-200"></BottomShape>
    <h2 class="text-4xl font-bold text-center uppercase my-6">Information om loppen</h2>
    <div class="max-w-3xl mx-auto">
      <p>Klassisk teknik gäller, kontroll sker.
        Spårsträckning enligt karta.
        Varvlopp: 40 km åks 2 varv. 20 km 1 varv. 5 km: skyltat mot mål.</p>
        <p>Maxtid: Rep dras vid varvning kl 13.30 och efter 27 km kl 14.30.</p>
        <p>
           Nr lappar/chip lördag: Tävlingsexp., Forslunda Gymnasiet kl 13.00-15.00.
   Nr lappar/chip söndag: Tävlingsexp., Forslunda Gymnasiet kl 8.30-10.30.
   Vätska per varv efter 7 km, 17 km och vid varvning. Vitargo sportdryck, vatten.
        </p>

        <p>
          Priser till de 3 första damer/herrar i mål 40 km, damsegrare 20 km, segrare 5 km.
  Prisutdelning sker löpande när prispallen är klar.
  Utlottnings priser bland genomförda 40/20/5 km., lista anslås vid entré och utanför
  fikarummet och pris lämnas mot uppvisande av nr lapp.
        </p>
    </div>
  </article>

  <article class="py-10 relative">
  
  <h2 class="text-4xl font-bold text-center uppercase my-6">Hitta hit & karta</h2>
    <div class="max-w-5xl mx-auto px-6 mb-8 flex gap-4 flex-col md:flex-row place-items-start">
    <div>
      <p class=" max-w-xs">Loppet har start och mål på åkern nedanför Forslundagymnasiet. Parkeringsmöjligheter finns men vi ser helst att ni skidar hit. </p>
      <p class="">Det finns möjligt till sportdryck och lite tilltug på på tre stationer utefter banan . </p>
    </div>
      
      <TrackMap client:visible></TrackMap>
    </div>
  </article>

  <article class="mb-10">
    <h2 class="text-4xl font-bold text-center uppercase my-6">Våra sponsorer</h2>
    <div class="max-w-5xl mx-auto mb-8 grid grid-cols-3 place-items-center">
      <img src="/assets/ica-nara.png" class="max-h-48 lg:max-h-72" alt="ICA Nära Hissjö handel">
      <img src="/assets/VL_Off_SL_2023_COMP.svg" class="max-h-48 lg:max-h-72" alt="Vasaloppet officiellt seedningslopp 2023">
      <img src="/assets/Forslunda-logga.png" class="max-h-48 lg:max-h-72" alt="">
    </div>
  </article>
</RaceLayout>