---
//import Image from "astro-imagetools";
const {posts} = Astro.props;
const sorted = posts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf() );
---

<section
    
  >
    <ul class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-8">
      {sorted.map((post) => (
        <li class="group relative overflow-hidden">
          <a href={post.url}>
            <img
              class="transition-transform duration-700 group-hover:scale-105"
              style="aspect-ratio: 1.618 / 1"
              src={post.thumbnail}
              alt=""
            />
            <p
              class="absolute pointer-events-none transition-transform duration-300 group-hover:scale-110 translate-y-2 group-hover:-translate-y-0 text-xl font-semibold w-full text-white py-5 text-center bg-gradient-to-t from-gray-800 bottom-0"
            >
              { post.displaytitle }
            </p>
          </a>
        </li>
      ))}
    </ul>
</section>