 ---
import TopShape from '../components/TopShape.astro';
---

<section class="relative bg-slate-200">
   <div class="flex flex-col h-full justify-center items-center text-center">
    <h1 class="text-4xl font-bold my-4">UMELOPPET 2025</h1>
    <p class="max-w-xl  px-4">
      Arrangeras söndagen den 2 februari 2025, start kl 11.00. Start/mål Forslunda Gymnasiet, Umeå.
      Anmälan sker via denna hemsida och öppnas 16 dec.
      <br><br>
      Med vänlig hälsning<br>
      Västerbottens Skidveteraner
    </p>
    
    <a href="/umeloppet" class="mt-5 px-6 py-3 text-xl bg-white font-bold text-white bg-slate-800 rounded-full hover:bg-opacity-90  focus:ring-2 focus:ring-offset-2 focus:ring-white focus:outline-none">Till loppet</a>
    <div class="py-12"></div>
  </div>
   
 
  <!--div class="flex flex-col h-full justify-center items-center text-center">
    <h1 class="text-4xl font-bold my-4">Umeloppet</h1>
    <p class="max-w-lg px-4">Nu är anmälan öppen för 2024 års upplaga av Umeloppet. <strong>Söndagen den 4:e Februari</strong> avgörs detta anrika skidlopp. Seedningsgrundande för Vasaloppet och Tjejvasan</p>
    <p class="text-lg font-bold mt-5">Absolut sista datum för anmälan är 31:a januari!</p>
    
    <a href="/umeloppet" class="mt-5 px-6 py-3 text-xl bg-white font-bold text-white bg-slate-800 rounded-full hover:bg-opacity-90  focus:ring-2 focus:ring-offset-2 focus:ring-white focus:outline-none">Till loppet</a>
    <div class="py-12"></div>
  </div-->

  <!--div class="flex flex-col h-full justify-center items-center text-center">
    <h1 class="text-4xl font-bold my-4">Umeloppet</h1>
    <p class="max-w-xl text-lg px-4">
      <strong>Anmälan är nu stängd då vi nått max antal åkare.</strong>
      Med anledning av det stora intresset för Umeloppet önskar vi att så många som har möjlighet
      hämtar nr lapp och chip under lördagen. Det kan annars bli långa köer på söndag.
      Vi finns på Forslunda mellan kl 13 - 16.<br><br>
      <strong class="text-purple-600">VÄLKOMMEN & TACK!.</strong>
    </p>
    <a href="/umeloppet" class="mt-5 px-6 py-3 text-xl bg-white font-bold text-white bg-slate-800 rounded-full hover:bg-opacity-90  focus:ring-2 focus:ring-offset-2 focus:ring-white focus:outline-none">Till loppet</a>
    <div class="py-12"></div>
  </div-->

  <!--div class="flex flex-col h-full justify-center items-center text-center">
    <h1 class="text-4xl font-bold my-4">Umeloppet</h1>
    <p class="max-w-xl text-lg px-4">
      Vi i Västerbottens Skidveteraner vill skicka ett stort tack till alla skidåkare som gjorde Umeloppet 2024 till en stor succé.
      Vi vill också tacka alla funktionärer som ställde upp, utan er hade det inte varit möjligt genomföra arrangemanget.
      Ett tack till alla sponsorer, åskådare och vädret som åter igen levererade.
      Stort stort tack till alla och välkommen åter 2025!
      <a href="/files/resultat_2024_02_04.pdf" target="_blank" class="text-indigo-600 underline hover:font-semibold">Resultat 2024</a>
    </p>
    <a href="/umeloppet" class="mt-5 px-6 py-3 text-xl bg-white font-bold text-white bg-slate-800 rounded-full hover:bg-opacity-90  focus:ring-2 focus:ring-offset-2 focus:ring-white focus:outline-none">Till loppet</a>
    <div class="py-12"></div>
  </div-->

  
  <TopShape classes="absolute bottom-0 text-slate-800"></TopShape>
</section>