 ---
import TopShape from '../components/TopShape.astro';
---

<section class="relative bg-slate-200">
  <div class="flex flex-col h-full justify-center items-center text-center">
    <h1 class="text-4xl font-bold my-4">UMELOPPET 2024</h1>
    <p class="max-w-xl  px-4">
      Arrangeras söndagen den 4 febr 2024, start kl 11.00. Start/mål Forslunda Gymnasiet, Umeå.
      Inbjudan och mer info kommer senare. Anmälan sker via denna hemsida och öppnas 15 dec.
      <br><br>
      Med vänlig hälsning<br>
      Västerbottens Skidveteraner
    </p>
    <a href="/files/Resultat_2023_02_05.pdf" target="_blank" class="mt-5 px-6 py-3 text-xl bg-white font-bold text-white bg-slate-800 rounded-full hover:bg-opacity-90  focus:ring-2 focus:ring-offset-2 focus:ring-white focus:outline-none">Umeloppet resultat 2023</a>
    <div class="py-12"></div>
  </div>
  <!-- div class="flex flex-col h-full justify-center items-center text-center">
    <h1 class="text-4xl font-bold my-4">Umeloppet</h1>
    <p class="max-w-lg px-4">Nu är anmälan öppen för 2023 års upplaga av Umeloppet. <strong>Söndagen den 5:e Februari</strong> avgörs detta anrika skidlopp. Seedningsgrundande för Vasaloppet</p>
    <p class="text-lg font-bold mt-5">Snart är anmälningstiden slut. Absolut sista datum för anmälan är 1:a Februari!</p>
    <a href="/umeloppet" class="mt-5 px-6 py-3 text-xl bg-white font-bold text-white bg-slate-800 rounded-full hover:bg-opacity-90  focus:ring-2 focus:ring-offset-2 focus:ring-white focus:outline-none">Till loppet</a>
    <div class="py-12"></div>
  </div --!>

  <!--div class="flex flex-col h-full justify-center items-center text-center">
    <h1 class="text-4xl font-bold my-4">Umeloppet</h1>
    <p class="max-w-xl text-lg px-4">
      Med anledning av det stora deltagarantalet önskar vi att de som har möjlighet hämtar ut sin nr lapp resp chip under lördagen.
      Det kan annars uppstå lång kö på söndagen.<br>
      <strong class="text-purple-600">Välkommen mellan kl 13 – 15 på lördag.</strong>
    </p>
    <a href="/umeloppet" class="mt-5 px-6 py-3 text-xl bg-white font-bold text-white bg-slate-800 rounded-full hover:bg-opacity-90  focus:ring-2 focus:ring-offset-2 focus:ring-white focus:outline-none">Till loppet</a>
    <div class="py-12"></div>
  </div-->
  <TopShape classes="absolute bottom-0 text-slate-800"></TopShape>
</section>