---
import Logo from '../components/Logo.astro'
// 1. The content prop gives access to frontmatter data
const { content } = Astro.props;
---
<html lang="sv">
  <head>
    <title>{content.title}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body class="">
    <!-- Adds a navigation bar to every page. -->
    <div class="shadow-xl bg-gray-100">
      <header class="z-10 relative px-4 py-4 flex flex-col justify-center items-center w-full max-w-5xl mx-auto">
        <p class=" whitespace-nowrap text-2xl sm:text-4xl font-bold -mb-4 text-transparent bg-clip-text bg-gradient-to-r from-purple-600 via-pink-500 to-purple-600">V채sterbottens skidveteraner</p>
         
        <nav class="text-sm sm:text-lg flex-shrink-0 flex gap-2 sm:grid sm:grid-cols-4 sm:gap-4 items-end transform translate-y-9">
          <a class="main-link" href="/">Hem</a>
          <a class="main-link" href="/nyheter">Nyheter</a>
          <a class="main-link" href="/loppet">Umeloppet</a>
          <a class="main-link" href="#">Kontakt</a>
        </nav>
      </header>
    </div>
    
    <section class="mx-auto px-6 my-12 prose prose-lg lg:prose-xl min-h-[85vh]">
    <!-- slot: your page content will be injected here. -->
    <slot />
    </section>
    <footer class="bg-gray-100 p-8">
      <div class="max-w-5xl mx-auto grid grid-cols-2 gap-8">
        <div>
          <h2 class="font-semibold text-lg">Postadress</h2>
          <address>
          V채sterbottens Skidveteraner <br>
          c/o Trude Hietha, Vitterv채gen 191 <br>
          90751 Ume책
          </address>
        </div>
        <div>
          <h2 class="font-semibold text-lg">Kontakt</h2>
          Tel: <i>saknas</i> <br>
          E-post: <a href="mailto:trude.hietha@umea.riksnet.se">trude.hietha@umea.riksnet.se</a>
        </div>
      </div>
    </footer>
    
  </body>
</html>

<style global>
@import "../styles/global.css";
</style>