---
import TopShape from '../components/TopShape.astro';
import "../styles/global.css";
const {title, footer} = Astro.props;
console.log(Astro.props)
---
<html lang="sv">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body style="scroll-behavior: smooth;" class="">
    <!-- Adds a navigation bar to every page. -->
    <div class="shadow-xl bg-gray-100">
      <header class="z-50 relative px-4 py-4 flex  justify-center items-center w-full max-w-4xl mx-auto">
        <p class="sm:ml-4 whitespace-nowrap text-lg font-bold  text-transparent bg-clip-text bg-gradient-to-r from-purple-600 via-pink-500 to-purple-600">V채sterbottens skidveteraner</p>
        <nav class="nav text-black bg-gray-100">
          <input class="h-auto" type="checkbox" role="button" aria-label="Display the menu" aria-expanded="false" aria-controls="menu">
          <ul class="menu-list" id="menu">
            <li><a class="main-link" href="/">Hem</a></li>
            <li><a class="main-link" href="/nyheter">Nyheter</a></li>
            <li><a class="main-link" href="/loppet">Umeloppet</a></li>
            <li><a class="main-link" id="contact-id" href="#kontakt">Kontakt</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <!-- slot: your page content will be injected here. -->
    <slot />
    <footer class="bg-gray-100 px-6 pt-12 pb-8 relative">
      <TopShape classes={footer + " absolute -top-1 left-0 text-gray-100"}></TopShape>
      <div id="kontakt" class="max-w-5xl mx-auto grid grid-col-1 sm:grid-cols-2 gap-8">
        <div>
          <h2 class="font-semibold text-lg">Postadress</h2>
          <address>
          V채sterbottens Skidveteraner <br>
          c/o Trude Hietha, Vitterv채gen 191 <br>
          90751 Ume책
          </address>
        </div>
        <div>
          <h2 class="font-semibold text-lg">Kontakt</h2>
          Tel: <i>0730644462</i> <br>
          E-post: <a href="mailto:trude.hietha@umea.riksnet.se">trude.hietha@umea.riksnet.se</a>
        </div>
      </div>
    </footer>
  </body>
</html>

<script>
document.querySelector('.nav input').onclick = function() {
    if(this.checked)
      this.setAttribute("aria-expanded",true)
    else
      this.setAttribute("aria-expanded",false)
}
document.querySelector('#contact-id').onclick = function() {
    document.querySelector('.nav input').click()
}
</script>